<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="course-container">
 <div class="course-card">
        <h3>Fsd Lab</h3>
        <p>Code: CSE208</p>
        <p>Credits: 4</p>
        <p>Instructor: VF-1</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

    <div class="course-card">
        <h3>OS Lab</h3>
        <p>Code: CSE301</p>
        <p>Credits: 4</p>
        <p>Instructor: Dr. Kavita Rathi</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>
    <div class="course-card">
        <h3>Maths-3</h3>
        <p>Code: CSE201</p>
        <p>Credits: 4</p>
        <p>Instructor: Maths Dept.</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

    <div class="course-card">
        <h3>Operating Systems</h3>
        <p>Code: CSE301</p>
        <p>Credits: 4</p>
        <p>Instructor: Dr.Kavita Rathi</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

    <div class="course-card">
        <h3>VAC</h3>
        <p>Code: MC302</p>
        <p>Credits: 0</p>
        <p>Instructor: VAC</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>
      <div class="course-card">
        <h3>Software Engineering</h3>
        <p>Code: CSE206</p>
        <p>Credits: 4</p>
        <p>Instructor: VF-5</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

    <div class="course-card">
        <h3>Full Stack Development</h3>
        <p>Code: CSE101</p>
        <p>Credits: 4</p>
        <p>Instructor: VF-1</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

    <div class="course-card">
        <h3>DAA</h3>
        <p>Code: CSE302</p>
        <p>Credits: 4</p>
        <p>Instructor: JKB</p>
        <a href="student_dashboard.html" class="primary-btn">Register</a>
    </div>

</div>

</body>
</html>